/* Blogs-Pages */
.main-heading{
    font-family: inherit;   
}
.sub-heading{
    font-family: inherit;
}
.tips{
    font-family: inherit;
    color: #ca9832;
}
.sub-heading-color{
    color: #444;
}


/* index-about */
.rounded-circle-about{
    width: 105px !important;
    height: 105px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* our-vision */
.my-training{
    padding: 15px;
}
.my-training>figure>img{
    object-fit: contain;
    height: 200px;
}

/* our-service */
.my-service>.icon>img{
    object-fit: contain;
    height: 200px;
}